@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

// General Settings
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    color: #202020;
    background-color: #fafafa;
}

ul {
    margin: 0;
    padding: 0;
}

// Variables 变量

$generic-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 4px 11px;
$generic-border: 1px solid #f1f1f1;
$feneric-bg: #db4c3f;

/* Mixins
    =========================================== */

@mixin mq($from) {
    @media (max-width: $from) {
        @content;
    }
}

@mixin va($va-aline: center) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    @if $va-aline != center {
        -webkit-box-pack: left;
        -ms-flex-pack: left;
        justify-content: left;
    } @else {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@mixin transparent-button() {
    background-color: transparent;
    border: 0;
  }

/* Header
    =========================================== */

header {
    border-bottom: solid 1px #ca2100;
    background-color: #db4c3f;
    -webkit-transition: height 200ms ease-in;
    transition: height 200ms ease-in;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    height: 44px;
    z-index: 400;
    position: fixed;
    top: 0;
    width: 100%;

    @include mq('900px') {
        padding: 0 10px;
    }

    nav {
        display: grid;
        height: 44px;
        margin: auto;
        max-width: 922px;
        align-items: center;

        p, li {
            color: white;
        }

        div {
            &.logo {
                padding-left: 8px;
                grid-area: 1 / 1;

                &.logo-image {
                    width: 20px;
                    height: 20px;
                }
            }

            &.settings {
                grid-area: 1 / 2;
                text-align: right;
    
                ul {
                    float: right;
                }
    
                ul li {
                    @include va;
    
                    list-style-type: none;
                    cursor: pointer;
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    vertical-align: middle;
                    float: left;
    
                    &:hover {
                        border-radius: 3px;
                        background-color: rgba(255, 255, 255, 0.2);
                    }
    
                    &.settings__add {
                        margin-right: 15px;
                        font-size: 30px;
    
                        button {
                            background-color: transparent;
                            border: 0;
                            color: white;
                            cursor: pointer;
                        }
                    }
    
                    &.settings__darkmode {
                        button {
                            @include transparent-button();
                            background-color: transparent;
                            border: 0;
                            color: white;
                            cursor: pointer;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
    
                            svg {
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}